{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/admission.css' %}" type="text/css">
{% endblock %}

{% block content %}
  <content>
    <div class="col">
      <div class="title_gr">
        <h1>ВСТУП</h1>
      </div>
      <div>
        <p>Перший в області заклад освіти наукового спрямування <a href="{% url 'home_page' %}">Обласний науковий ліцей в м. рівне Рівненської обласної ради</a> запрошує на навчання обдаровану, творчу і талоновиту молодь, яка прагне наукових звершень та відкриттів. На 2022-2023 навчальний рік оголошується набір учнів у 8 класи з поглибленим вивченням математики, історії, англійської мови, хімії та інформатики. За наявності вільних місць може бути добір у 9-11 класи відповідних профілів
          <br><br>Конкурсні випробування проводяться у письмовій формі:</p>
        <ul>
          <li><span></span>українська мова(тести) - для всіх класів;</li>
          <li><span></span>математика - клас із поглибленим вивченням математики;</li>
          <li><span></span>історія - клас із поглибленим вивченням історії;</li>
          <li><span></span>англійська мова клас із поглибленим вивченням англійської мови;</li>
          <li><span></span>хімія - клас із поглибленим вивченням хімії;</li>
          <li><span></span>інформатика з елементами математики (на комп’ютері) - клас із <br>поглибленим вивченням інформатики.</li>
        </ul>
      </div> 
      <div class="one_line_content">
        <a class="button" href="{% url 'document_reader_page' 41 %}">Правила конкурсного<br>відбору</a>
        <a class="button" href="{% url 'document_reader_page' 42 %}">Зразки завдань для<br>конкурсних випробувань</a>
      </div>
      <div>
        <p>Подача документів в електронному вигляді для  вступу до КЗ "Рівненський обласний науковий ліцей-інтернат" (форма)
          <br><br>Перелік електронних сканованих копій документів для вступу, які необхідно приєднати до форми (підготуйте їх завчасно):</p>
        <ul>
          <li><span></span>Копія оригіналу свідоцтва про народження (або ID-картки) вступника;</li>
          <li><span></span>Довідка з місця реєстрації (або проживання) вступника;</li>
          <li><span></span>Копія оригіналу документа про відповідний рівень освіти (табеля <br>успішності або свідоцтва про здобуття базової загальної середньої <br>освіти дитини з додатком).</li>
        </ul>
        <p><br>Звертаємо Вашу увагу на те, що:</p>
        <ul>
          <li><span></span>Поза конкурсом (без складання іспитів) зараховуються призери ІІ етапу <br>конкурсу-захисту МАН і ІІІ етапу Всеукраїнських учнівських олімпіад <br>з предметів, які є профільними в обраному вступником класі;</li>
          <li><span></span>За результатами конкурсу першочергово до закладу зараховуються діти <br>з районів Рівненської області;</li>
          <li><span></span>якщо рівень навчальних досягнень у документі про освіту нижче 7 балів <br>(з будь-якого предмету), то дитина до конкурсного відбору допускатися не буде.</li>
        </ul>
      </div>
      <div class="one_line_content">
        <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSe_W6_eM4cJIBUvk57JPiVJMoAeQgXRx2OObB63xh1VL-gykA/closedform">Форма заповнення<br>документів</a>
        <a class="button" href="{% url 'document_reader_page' 43 %}">Наявність вакантних<br>учнівських місць</a>
      </div>
    </div>
  </content>
{% endblock %}